<div class="container-fluid fotter"> 
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-6">
      <span>Dinamita © 2016 Impusado por <a href="http://www.trnetwork.com.mx" target="_blank">TR Network</a></span>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div style="border-left: 1px solid #e58c21;">
        <p class="text-left" style="margin-left : 5px;">
          Créditos:
          <br>
          Imágen J.J. Grandville
          <br>
          Música: Edward Taylor – Neverhood.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64534789-1', 'auto');
  ga('send', 'pageview');
</script>