<!DOCTYPE html>
<html lang="es">
<head>
	<title>FRANCHISE | Login</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   	<meta name="viewport" content="width=device-width, initial-scale=1"/>
   	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
   	<%- include('admin/partials/head'); %>
</head>
<body>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Iniciar Sesión</div>
				<div class="panel-body">
					<form role="form" method="post" action="/login">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="Usuario" name="txtUsuario" type="text" autofocus="" required="required"/>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Contraseña" name="txtPassword" type="password" value="" required="required"/>
							</div>
							<hr />
							<p class="text-danger"><%=msg%></p>
							<button type="submit" id="btnIntro" name="btnIntro" class="btn btn-primary">Login</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div></div></body>
</html>