<!DOCTYPE html>
<html lang="es">
<head>
	<title>METACON | Reglas</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   	<meta name="viewport" content="width=device-width, initial-scale=1"/>
   	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
   	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
<body class="reglas">
	<div class="container">
		<div class="row bienvenida" >
			<div class="space30"></div>
			
			<div class="col-md-8 col-sm-8">
				<div class="row">
					<img src="img/reglas/bienvenida.png" alt="Bienvenida" class="img-responsive center-element">
				</div>
				<div class="row">
					<p class="text-center">Al ingresar a <strong class="montserrat">METACON</strong> recibirás puntos para jugar. Elige una mesa para comenzar.</p>
					<p class="text-center">Si apareces como jugador (no como observador) puedes dar clic en <strong>INICIAR PARTIDA</strong> en cualquier momento. Debe haber mínimo de dos jugadores para comenzar.</p>
					<p class="text-center">Si la mesa está ocupada, entraras como un observador.</p>
					<p class="text-center">Si eres observador quédate atento pues muy pronto llega tu turno.</p>
					<p class="text-center">Al ingresa a la mesa, un patrocinador invertirá en tu juego, y lo representas con tus fichas. Cada mesa de juego simula distintas economías.</p>
					<h3 class="fg-orange text-center montserrat">FEUDALISMO:  HACE 1000 AÑOS TODO ERA MÁS SIMPLE</h3>
					<p class="text-center">Cuando sea tu turno (el segundero y tu nombre se pintan de amarillo) da click en la casilla para colocar tu comercio.</p>
					<p class="text-center">El primer jugador en conectar 5 comercios gana la partida. Conectas en línea recta horizontal, vertical o diagonal.</p>
					<br />
					<h4 class="text-center"><img src="img/reglas/tiempo.png" alt="TIEMPO" class="img-responsive center-element"></h4>
					<p class="text-center">Cada turno tiene límites de tiempo. Si no tiras, serás saltado. Si saltas turno 3 veces, saldrás de la partida.</p>
					<h4 class="text-center"><img src="img/reglas/puntos.png" alt="PUNTOS" class="img-responsive center-element"></h4>
					<p class="text-center">Cada comercio colocado te resta un punto de tu contador. El ganador se lleva todos los puntos sobre la mesa.</p>
					<h4 class="text-center"><img src="img/reglas/findepartida.png" alt="FIN DE PARTIDA" class="img-responsive center-element"></h4>
					<p class="text-center">El ganador podrá cambiar las condiciones del simulador. Los jugadores que no ganaron dejan su lugar disponible para los observadores en la lista de espera.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="row">
					<img src="img/reglas/img_usuarios.png" alt="Usuarios" class="img-responsive center-element">
					<img src="img/reglas/feudalismo.png" alt="FEUDALISMO" class="img-responsive center-element">
					<img src="img/reglas/diagrama_feudalismo.png" alt="DIAGRAMA FEUDALISMO" class="img-responsive center-element">
					<img src="img/reglas/retiradas_feudalismo.png" alt="RETIRADAS FEUDALISMO" class="img-responsive center-element">
				</div>
			</div>

			<div class="space30"></div>
		</div>

		<div class="row capitalismo">
			<div class="space30"></div>
			<div class="col-md-8 col-sm-8">
				<h2 class="montserrat text-center"><strong>CAPITALISMO:</strong><br />EMPECEMOS A COMER</h2>
				<div class="row">
					<p class="text-center">Siguiendo la mecánica de colocar tu comercio con un click, ahora además es posible "comer" otros comercios.</p>
					<p class="text-center">Comerás piezas si al colocar tu comercio encierras  a DOS comercios iguales entre tus piezas.</p>
					<p class="text-center">El primer jugador en conectar 5 comercios o en comer 5 pares de otros comercios, ganará todos los puntos sobre la mesa.</p>
					<p class="text-center">Las comidas dan puntos a quien las realice.</p>
					<img src="img/reglas/img_capitalismo.png" alt="CAPITALISMO" class="img-responsive center-element" />
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="row">
					<img src="img/reglas/capitalismo.png" alt="CAPITALISMO" class="img-responsive center-element">
					<img src="img/reglas/diagrama_capitalismo.png" alt="DIAGRAMA CAPITALISMO" class="img-responsive center-element">
					<img src="img/reglas/retiradas_capitalismo.png" alt="RETIRADAS CAPITALISMO" class="img-responsive center-element">
				</div>
			</div>
			<div class="space30"></div>
		</div>

		<div class="row neoliberalismo">
			<div class="space30"></div>
			<div class="col-md-8 col-sm-8">
				<h2 class="montserrat text-center"><strong>NEOLIBERALISMO:</strong><br/>SÁLVESE QUIEN PUEDA.</h2>
				<p class="text-center">Siguiendo la mecánica, ahora además es posible "comer" comercios de distintos jugadores.</p>
				<p class="text-center">Comes si al colocar tu comercio encierra DOS comercios iguales o DISTINTOS entre tus piezas.</p>
				<p class="text-center">El primer jugador en conectar 5 comercios o en comer 5 pares de otros comercios, ganará todos los puntos sobre la mesa.</p>
				<p class="text-center fg-lg-blue">El objetivo <strong>METACON</strong> es que descubras cómo las distintas reglas del mercado generan sentimientos y conductas distintas. Reglas que permiten más competencia generan menor colaboración.</p>
				<img src="img/reglas/img_neoliberalismo.png" alt="NEOLIBERALISMO" class="img-responsive center-element" />
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="row">
					<img src="img/reglas/neoliberalismo.png" alt="CAPITALISMO" class="img-responsive center-element">
					<img src="img/reglas/diagrama_neoliberalismo.png" alt="DIAGRAMA NEOLIBERALISMO" class="img-responsive center-element">
					<img src="img/reglas/retiradas_neoliberalismo.png" alt="RETIRADAS NEOLIBERALISMO" class="img-responsive center-element">
				</div>
			</div>
			<div class="space30"></div>
		</div>

		<div class="premios row">
			<div class="space30"></div>
			<div class="col-md-8 col-sm-8">
				<h2 class="text-center montserrat">PREMIOS, TORNEOS Y SISTEMAS DE PUNTOS.</h2>
				<p class="text-center">Nuestros patrocinadores ofrecen premios a los mejores jugadores. Cumple con los retos anunciados en el lobby y gana inmediatamente.</p>
				<p class="text-center">Para ganar los premios, recuerda solicitar tus resultados en la <strong>SALIDA</strong>.</p>
				<p class="text-center">Mientras permanezcas en el lobby, el sistema <strong>METACON</strong> registra tus puntos. Cuando sales del sitio, se pierde tu registro.</p>
				<img src="img/reglas/img_premios.png" alt="PREMIOS" class="img-responsive center-element" />
			</div>
			<div class="col-md-4 col-sm-4">
				<img src="img/reglas/patrocinios.png" alt="Patrocinios" class="img-responsive center-element">
				<div>
					<p class="text-center"><strong>METACON y JUEGOS DINAMITA</strong><br>agradecen a los patrocinadores que invierten en el desarrollo integral del Público Nacional.</p>
					<p class="text-center">En favor de una sociedad más consciente y participativa.</p>
				</div>
				<img src="img/reglas/img_patrocinador.png" alt="Patrocinador" class="img-responsive center-element">
			</div>
			<div class="space30"></div>
		</div>
	</div>
	
	<section id="footerSection">
		<%- include('partials/footer'); %>
	</section>
	
	<a href="/lobby" class="back-to-top"><span class="glyphicon glyphicon-menu-left"></span>Regresar a Lobby</a>

</body>
</html>