<li> 
	<button id="iniciar-juego" type="button" disabled="disabled">
		<img src="../img/mesas/iniciar_juego.png" alt="INICIAR JUEGO">
	</button>
	<img src="../img/mesas/pleca.png" alt="Pleca" class="img-responsive center-element">
</li>
<li>
	<a href="/reglas" target="_blank">
		<img src="../img/mesas/reglas.png" alt="REGLAS">
	</a>
	<img src="../img/mesas/pleca.png" alt="Pleca" class="img-responsive center-element">
</li>
<li>
	<a onclick="salir();">
		<img src="../img/mesas/lobby.png" alt="Lobby">
	</a>
	<img src="../img/mesas/img_lateral.png" alt="Lobby" class="img-responsive hidden-xs hidden-sm center-element" />
</li>
<li>
	<br>
	<audio autoplay  loop controls>
			<source src="../music/juego_metacon.mp3" type="audio/mpeg">
			<source src="../music/juego_metacon.ogg" type="audio/ogg">
			Tu navegador no soporta elementos audio
	</audio>
</li>