<!-- Preloader --> 
<div id="preloader">
    <div id="status-preloader">&nbsp;</div>
</div>
<div id="start-game-notificacion" class="alert alert-danger" role="alert">
	<h3 id="descripcion"></h3>
</div>

<header class="header">
	<div class="center-element m-top-1em" id="epoca">
	</div>	
</header>