<div id="ganador" class="modal fade" data-backdrop="static"> 
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">
					<i class="fa fa-trophy"></i> "<span id="ganadorName"></span>" ha ganado,
					<span id="timer-reset-game">15s</span> para reiniciar la partida
				</h3>
			</div>
			<div class="modal-body">
			    <h3 class="text-center">Detalles del juego</h3>
				<p><i class="fa fa-circle" style="font-size: 10px;"></i> Tus creditos <span id="creditos-usuario"></span></p>
				<p><i class="fa fa-circle" style="font-size: 10px;"></i> Creditos sobre la mesa <span id="creditos-mesa"></span></p>
				<div id="ajustar-juego" class="text-center" style="margin-top: 40px;"></div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->