<img src="../img/mesas/marco_top.png" alt="Marco superior" class="img-responsive center-element"> 
<div class="clearfix"></div>
<div class="col-xs-12 hidden-xs col-sm-12 col-md-12 text-center">
	<div class="cronometro"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="panel panel-default f-size18">
	  <div class="panel-heading bg-cafe fg-white text-center">Jugadores</div>
	  <div class="panel-body no-padding" style="padding: 0px;">
	    <div id="jugadores" class="text-center"></div>
	  </div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="panel panel-default">
	  <div class="panel-heading bg-cafe fg-white f-size18 text-center">Observadores</div>
	  <div class="panel-body no-padding">
	    <div id="observadores">
	    	No hay observadores
	    </div>
	  </div>
	</div>
</div>
<div class="clearfix"></div>
<img src="../img/mesas/marco_bottom.png" alt="Marco inferior" class="img-responsive center-element">