<div class="row"> 
	<div class="col-xs-12 col-md-6 col-lg-4">
		<div class="panel panel-blue panel-widget ">
			<div class="row no-padding">
				<div class="col-sm-3 col-lg-5 widget-left">
					<em class="glyphicon glyphicon-star glyphicon-l"></em>
				</div>
				<div class="col-sm-9 col-lg-7 widget-right">
					<div class="large">Marcas</div>
					<div class="text-muted"><a href="/admin/panel">view</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-4">
		<div class="panel panel-orange panel-widget">
			<div class="row no-padding">
				<div class="col-sm-3 col-lg-5 widget-left">
					<em class="glyphicon glyphicon-th glyphicon-l"></em>
				</div>
				<div class="col-sm-9 col-lg-7 widget-right">
					<div class="large">Mesas</div>
					<div class="text-muted"><a href="/admin/mesas">view</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-4">
		<div class="panel panel-red panel-widget">
			<div class="row no-padding">
				<div class="col-sm-3 col-lg-5 widget-left">
					<em class="glyphicon glyphicon-user glyphicon-l"></em>
				</div>
				<div class="col-sm-9 col-lg-7 widget-right">
					<div class="large">Usuarios</div>
					<div class="text-muted"><a href="/admin/usuarios">view</a></div>
				</div>
			</div>
		</div>
	</div>
</div><!--/.row-->